body {
margin: 0px;
}

body > *  {
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    padding: 24px 16px;
}

.tasks {
    max-width: 500px !important;
    width: 100% !important;
    overflow: hidden;
}
.task {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 12px;
    position: relative;
    padding: 12px 16px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: grab;
    transition: transform 0.1s ease-out;
}
.task:hover {
    background-color: #F3F3F3;
}
.task:active {
    cursor: grabbing;
    background-color: #F3F3F3;
}

.task input {
    position: absolute;
    left: 15px;
    opacity: 0;
    width: 20px;
    height: 20px;
}

.task input:checked + .radio {
    background-color: #FF7B4B;
}

.task p {
    margin: 0px;
}

.radio {
    height: 20px !important;
    width: 20px;
    border-radius: 100px;
    border: 2px #000 solid;
}

.strikethrough {
    text-decoration: line-through;
}

.bin {
    width: 64px;
    height: 48px;
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: opacity 0.2s ease-out;
}
.bin img {
    height: 32px;
    width: 32px;
}

@media (min-width: 400px) {
    h1 {
        padding: 24px;
    }
    .task {
        padding: 12px 24px;
    }
    .task input {
        left: 23px;
    }
}